.primary{
    color:black;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: solid;
    font-size:xx-large;
    
}

.bg{
            background-image: url(./images/backimg.jpg);
            height: 100vh;
            margin-top: -120px;
            
            background-size: cover;
            background-repeat: no-repeat;
}
